**/target/
/python/**/.pytest_cache/
/python/**/.mypy_cache/
/python/**/.ruff_cache/
/python/**/__pycache__/
/python/**/dist/
/python/**/build/
/python/**/*.egg-info/
/typescript/**/node_modules/
/typescript/**/dist/
/typescript/**/coverage/
/typescript/**/playwright-report/
/typescript/**/test-results/
